* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: aliceblue;
  color: #000;
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* Modal Background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
  
}

/* Modal Box */
.modal-content {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal-content button {
    background: #ff3b3b;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.modal-content button:hover{
    background: #9f2929;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
 margin: 0 50px;
}
span {
  color: red;
}
.container {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  /* border: 2px solid red; */
}
.title h1 {
  margin-right: 20px;
}
.task-icon {
  width: 50px;
}
.input-field {
  background-color: #fff;
  border-radius: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.input-field input {
  border: none;
  padding: 16px;
  border-radius: 30px;
  flex: 1;
  outline: none;
  font-size: 16px;
}
.input-field button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
}
.task-list-container {
  background-color: rgb(255, 255, 255);
  width: 500px;
  border: none;
  border-radius: 10px;
  padding: 20px;
}
.task-list li {
  background-color: rgb(199, 199, 199);
  display: flex;
  padding: 8px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  user-select: none;

 
}
.task-item i {
  cursor: pointer;
  color: #ff3b3b;
}
.completed-task{
opacity: 0.6;
}
.completed-task p{
  text-decoration: line-through;
  
}

.completed-icon {
  color: green;
}