* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 3, 58);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6rem;
  color: #fff;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(3, 3, 58);
  width: 100%;
}
.box {
  border: 3px dashed white;
  width: 350px;
  max-width: 350px;
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.list {
  background-color: orangered;
  margin: 15px;
  flex: 1;
  display: flex;
  align-items: center;
  cursor: grab;
  font-weight: bold;
}
.list img {
  width: 15px;
  margin: 0 10px;
}
