* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-family: "open sans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #696969;
}
.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}
.screen {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  display: none;
}
.screen.active {
  display: block;
}
#start-screen h1 {
  color: #e86a33;
  font-weight: 900;
  padding: 0.5rem;
  font-size: 2.5rem;
}
#start-screen p {
  color: #696969;
  padding: 1rem;
  font-size: 1.1rem;
}
#start-screen button{
  margin: 10px 0 30px 0;
}
button {
  background-color: #e86a33;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  /* font-weight: 500; */
  cursor: pointer;
  margin-top: 10px;
  transition:  background-color 0.3 ease;
}
button:hover {
  background-color: #d45b28;
 
}

/* Quiz screen */
#quiz-screen h3 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #373535;
}
.quiz-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 1rem;
  opacity: 80%;
}
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.answer-btn {
  background-color: #f8f0e5;
  color: #333;
  text-align: left;
  padding: 15px 0 15px 15px;
  border: 2px solid #eadbc8;
  font-size: 1rem;
  transition:  0.3s ease;
}
.answer-btn:hover{
  background-color: #eadbc8;
    border-color: #dac0ae;;
  
}
.answer-btn.correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.answer-btn.incorrect {
  background-color: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f8f0e5;
  border-radius: 8px;
  margin-top: 20px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: #e86a33;
  width: 0%;
  transition: width 0.3s ease;
}
/* Result screen */
#result-screen h2 {
  color: #e86a33;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.result-info {
  background-color: #f8f0e5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 24px;
}
.result-info p:first-of-type {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px;
  color: #333333eb;
}
#result-feedback {
  color: #e86a33;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 500px) {
  /* when we hit 500px and below, implement the styles below */

  .screen {
    padding: 1rem;
  }

  #start-screen h1 {
    font-size: 2rem;
  }

  #question-text {
    font-size: 1.3rem;
  }

  .answer-btn {
    padding: 12px;
  }

  button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}